<div class="owl-item cloned">
  <div class="featured-creators-box cluster-box dummy-explorer">
    <a>
      <div class="featured-creators-box-img">
        <div class="featured-creators-box-img-bg" style="background-image:url('/assets/banner-bg.jpeg');">
          <img src="/assets/banner-bg.jpeg" class="img-responsive">
        </div>
        <div class="featured-creators-box-img-profile">
          <img src="/assets/default_user.png" class="img-responsive">
        </div>
      </div>
      <div class="featured-creators-box-content">
        <h4>Painted Ocean </h4>
        <p>"Painted Ocean" tells the story of Jess Rankin, a young internationally-selling artist who is at home kitesurfing, foiling, wing foiling as she is painting her next masterpiece.</p>
      </div>
    </a>
  </div>
</div>