<div class="item">
  <div class="box-hot-bids">
    <%= render partial: 'common/collection_card', locals: {collection: collection, sold_text: false, already_sold: false, trade_text: false} %>
  </div>
</div>